.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  flex: 1;
  max-width: 500px;
}

.login-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  width: 60%;
}
